In [3]:
import pandas as pd

### a.

In [4]:
df = pd.DataFrame({'days': [1, 1, 2, 2, 1, 3, 4],
                   'values': [10, 10, 5, 3, -2, 4, 20]})

In [5]:
names = {'mean':'mean_values', 'median':'median_values','max':'max_values','min':'min_values'}
df=df.groupby(['days'],as_index=False).agg(['mean','median','max','min'])['values'].rename(columns = names)
df

      mean_values  median_values  max_values  min_values
days
1               6             10          10          -2
2               4              4           5           3
3               4              4           4           4
4              20             20          20          20

### b.

In [6]:
df = pd.DataFrame({'employee': [1001, 1002, 1004, 1001, 1001, 1002, 1004, 1005, 1005],
                       'pos': [2, 2, 2, 2, 2, 2, 2, 2, 2],
                       'amount': [125, 542, 2345, 892, 100, 1234, 657, 34, 35]})

In [7]:
df=df.groupby(['employee','pos'],as_index=False)\
.agg(lambda x: x.max() - x.min())\
.rename(columns={'amount' : 'amount_diff'})\
.sort_values('amount_diff', ascending=False).head(2)

In [8]:
df

   employee  pos  amount_diff
2      1004    2         1688
0      1001    2          792